<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_book.css') }}">
     <link rel="icon" type="image/x-icon" href=" https://cdn-icons-png.flaticon.com/128/3038/3038168.png">
</head>
<body>
    <h1>Add a New Book</h1>
    <form action="" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>
        <label for="author">Author:</label>
        <select id="author" name="author_id">
            {% for author in authors %}
                <option value="{{ author.id }}">{{ author.name }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Add Book">
    </form>
    <div class="back-link"><a href="{{ url_for('index') }}">Back to homepage</a></div>
</body>
</html>