<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Add Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_author.css') }}">
    <link rel="icon" type="image/x-icon" href=" https://cdn-icons-png.flaticon.com/128/3038/3038168.png">
</head>
<body>
<h1>Add Author</h1>
<form action="" method="post">
    <label for="name">Author Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <input type="submit" value="Add Author">
</form>
<div class="back-link"><a href="{{ url_for('index') }}">Back to homepage</a></div>
</body>
</html>