<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Author</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/delete_author.css') }}">
    <link rel="icon" type="image/x-icon" href=" https://cdn-icons-png.flaticon.com/128/3038/3038168.png">
</head>
<body>
<div class="main_font"><h1>Delete Author and Their Books</h1></div>
<form action="" method="post">
    <label for="author">Select Author:</label>
    <select id="author" name="author_id">
        {% for author in authors %}
        <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" value="Delete Author and Books">
</form>
<div class="back-link"><a href="{{ url_for('index') }}">Back to homepage</a></div>
</body>
</html>
