<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Library Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href=" https://cdn-icons-png.flaticon.com/128/3038/3038168.png">

</head>
<body>
    <h1>Library Manager</h1>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('add_book') }}">Add a new book</a></li>
            <li><a href="{{ url_for('add_author') }}">Add a new author</a></li>
            <li><a href="{{ url_for('export_books') }}">Export book list</a></li>
            <li><a href="{{ url_for('delete_author') }}">Delete author and books</a></li>
        </ul>
    </nav>
    <h1>Book List</h1>
     <div class="filter-link">
        <a href="{{ url_for('filter_books') }}">
        <img src="https://cdn-icons-png.freepik.com/256/9424/9424892.png?ga=GA1.1.688485681.1720871755&semt=ais_hybrid" alt="Filter Icon">
    </a>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author.name }}</td>
            <td>
                <a href="{{ url_for('update_book', book_id=book.id) }}">Edit</a>
                <a href="{{ url_for('delete_book', book_id=book.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        {% if books.has_prev %}
        <a href="{{ url_for('index', page=books.prev_num) }}">Previous</a>
        {% endif %}

        {% for page_num in books.iter_pages() %}
            {% if page_num %}
                {% if books.page == page_num %}
                    <a href="#" class="active">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span>...</span>
            {% endif %}
        {% endfor %}

        {% if books.has_next %}
        <a href="{{ url_for('index', page=books.next_num) }}">Next</a>
        {% endif %}
    </div>

    <footer>
        <p>&copy; 2024 Library. All rights reserved.</p>
    </footer>


</body>
</html>